<div class="content">
    <ul class="box">
        <li *ngFor="let i of obj" (click)="test(i)">{{i.name}}</li>
        <li>{{xuxuDemo.name}}</li>
    </ul>

    <div class="formWrap">
        <label>请输入名称：
            <input placeholder="请输入名称" [(ngModel)]="name" (blur)="onBlur($event)" />
        </label>
    </div>
    <div class="formWrap">
        <label>
            请输入昵称：
            <input placeholder="请输入昵称" [(ngModel)]="nickName" (keyup)="onKey($event)" />
        </label>
    </div>

    <button (click)="submit()">提交</button>

    <div class="routerWrap">
        <nav>
            <ul class="box">
                <li>
                    <a class = "linkWrap" routerLink="/demo2">跳转到Demo2页：路由跳转</a>
                </li>
                <li>
                    <a class = "linkWrap" routerLink="/parent1">跳转到Parent1页：使用input绑定传入的属性</a>
                </li>
                <li>
                    <a class = "linkWrap" routerLink="/parent2">跳转到Parent2页：使用setter监听input属性变化</a>
                </li>
                <li>
                    <a class = "linkWrap" routerLink="/parent3">跳转到Parent3页：父组件绑定子组件EventEmitter属性公开的事件并做出反应</a>
                </li>
                <li>
                    <a class = "linkWrap" routerLink="/serviceDemo">跳转到ServiceDemo页：服务</a>
                </li>
            </ul>
        </nav>
    </div>
</div>