<div>
    <ul class="box">
        <ol *ngFor="let i of obj" (click)="test(i)">{{i.name}}</ol>
        <ol>{{xuxuDemo.name}}</ol>
    </ul>

    <label>请输入名称：
        <input placeholder="请输入名称" [(ngModel)]="name" (blur)="onBlur($event)"/>
    </label>
    <br>
    <label>
        请输入昵称：
        <input placeholder="请输入昵称" [(ngModel)]="nickName" (keyup)="onKey($event)" />
    </label>
    <br>
    <button (click)="submit()">提交</button>

    <div>
        <nav>
            <a routerLink="/demo2">点击跳转</a>
        </nav>
    </div>
</div>