.content {
    padding: 16px 32px;
}
.box {
    color: teal;
}

.box > li {
    cursor: pointer;
    margin-bottom: 16px;
    /* background-color: teal; */
}
.linkWrap {
    text-decoration: none;  
    color: #000000;
}
.formWrap {
    margin-bottom: 16px;    
}
.routerWrap{
    margin-top: 16px;    
}
.selectedOlWrap {
    background-color: yellow;
}